.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 4.375rem);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
}

.container h1 {
  font-size: 2.5rem;
}

.container p {
  font-size: 1.2rem;
}

.slideshow-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.slide {
  display: none;
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide:first-child {
  display: block;
}

.slide img {
  width: 100%;
  height: auto;
  max-height: 30rem; /* 높이를 rem 단위로 변경 */
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.dots-container {
  text-align: center;
  margin-top: 1rem;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
}

#clock {
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    padding-top: 1rem;
    font-size: 2.8rem;
    padding-bottom: 2rem;
  }

#date {
    padding-top: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
}

